*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/photo1.avif");
    background-size: cover;
    color: white;
}

.clock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
h1{
    font-size: 3rem;
    margin-bottom: 0;
}
.clock{
    display: flex;
}

.time{
    padding: 0 1rem;
    font-size: 4rem;
    font-weight: bolder;
}

